/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [guid]
      ,[name]
      ,[addressline1]
      ,[addressline2]
      ,[city]
      ,[state]
      ,[zip]
      ,[parentguid]
      ,[cf_location_num]
      ,[cf_company_num]
      ,[region]
      ,[email_all_members]
      ,[active]
      ,[RegionID]
  FROM [aaahelp].[dbo].[locationinfo]
  where guid = '5F27E221-791F-4084-9B95-0100D2B9AE82'  