/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [id]
      ,[guid]
      ,[job_number]
      ,[order_datetime]
      ,[complete_datetime]
      ,[last_update_datetime]
      ,[parent_company_guid]
      ,[service_location_guid]
      ,[created_by_user_guid]
      ,[last_updated_by_user_guid]
      ,[problem_summary]
      ,[problem_details]
      ,[location_contact_name]
      ,[location_contact_phone]
      ,[location_contact_phone_night]
      ,[notes]
      ,[closed_datetime]
      ,[active]
      ,[cost_code]
      ,[EQmodel]
      ,[EQserial]
      ,[EQProbDesc]
      ,[service_provider]
      ,[dispatch_datetime]
      ,[accepted_datetime]
      ,[internal_notes]
      ,[cust_po_num]
      ,[total_billing]
      ,[ServiceCategory]
      ,[CategoryID]
      ,[Region]
      ,[PriorityStatus]
      ,[PriorityID]
      ,[StatusName]
      ,[StatusID]
      ,[Location]
      ,[City]
  FROM [aaahelp].[dbo].[service_tickets]
  order by id desc