@{
    ViewBag.Title = "About AAA Companies";
}
<h2>@ViewBag.Title.</h2>
<h3>Anything Anywhere Anytime</h3>
<div class="box">
    <img src="~/Images/AAACompanies_orig.png" class="img-responsive" alt="AAA Companies Anything Anytime Anywhere">
</div>
<p>
    <br /><strong>AAA Companies</strong> is a fast-growing, family-owned facilities solutions provider located in California. Striving to provide more than service, <strong>AAA Companies establishes partnerships with their clients</strong> to create the physical environments in which we all work, relax, and live.<br /> <br />

        Comprised of the seven divisions listed to the left, AAA’s ownership, management, support staff, and technicians pride themselves on being knowledgeable, attentive, and responsive. <strong>AAA’s 24 Hour Emergency Services guarantees that a technician will be on site solving a problem within two hours of it being called in.</strong><br /><br />

        AAA Companies is a Woman Owned Business and <strong>fully licensed, insured, and bonded for Electrical, Plumbing, and General Contracting</strong> under our C-10, C-36, and B License #733738.
</p>

<p><br />
    <strong>HEADQUARTERS</strong><br />
    AAA Companies<br />
    ​25007 Anza Drive<br />
    Valencia, CA 91355<br /><br />

    <strong>PHONE</strong><br />
        800.892.4784<br /><br />

        <strong>FAX</strong><br />
        888.533.9223<br /><br />

        <strong>EMAIL</strong><br />
        order@aaacompanies.com<br /><br />

    <strong>PROPERTY SERVICES DIVISION</strong><br />
        Angela Polen<br /><br />

    <strong>CONSTRUCTION MANAGEMENT DIVISION</strong><br />
        Robert Ankrum<br /><br />

    <strong>ELECTRICAL SERVICES/COMMUNICATIONS & DATA CABLING DIVISION</strong><br />
        Vinny Faggella<br /><br />

    <strong>LIGHTING MAINTENANCE DIVISION</strong><br />
        Robert Nelson<br /><br />

    <strong>CONTRACTED MAINTENANCE DIVISION</strong><br />
        Tim Polen<br /><br />

    <strong>TITLE 24 DIVISION</strong><br />
        Michael Scalzo
</p>