@{
    ViewBag.Title = "Help";
}

<h2>Help</h2>

<h3>Users Guide to Assetsaaa.com</h3>
<p>
    First time user login<br />
    Find email was sent to you from support@assetsaaa.com. It contains a temporary password and a link to assetsaaa.com customer login page<br />    
</p>
<img src="~/Docs/Image1.png" class="img-responsive">
<br />
<p>
    Type temporary password you received from email and input a new password as your choice.  Click Create when you are done.
</p>

<br />
<h3>Existing Portal user log in</h3>
<p>
    Open up a web browser and go to <a href="http://assetsaaa.com">assetsaaa.com</a>. Click on Log in located in the top right corner
</p>
<img src="~/Docs/Image2.png" class="img-responsive">    
<br />
<p>
    Select “Forgot your password” if you are going to rest your password
</p>
<img src="~/Docs/Image3.png" class="img-responsive">
<br />
<p>
    Click on Log in located in the top right corner
</p>
<img src="~/Docs/Image4.png" class="img-responsive">
<br />

<br />
<h3>How to create a service ticket</h3>
<p>
    Under “Services”, select “Create Service Request”
</p>

<img src="~/Docs/Image5.png" class="img-responsive">
<br />

<p>
    Complete the request form then select “Create”. For priority level, please note “Emergency” or “Next Day” priority levels are a premium fee. When possible, select “Next Route Maintenance” as the priority.
</p>
<img src="~/Docs/Image6.png" class="img-responsive">
<br />

<br />
<h3>How to create a Bid Request</h3>
<p>
    Under “Services”, select “Request Bid” 
</p>
<img src="~/Docs/Image7.png" class="img-responsive">
<br />

<p>
    Complete the form then select “Create”
</p>
<img src="~/Docs/Image8.png" class="img-responsive">
<br />

<br />
<h3>How to track ticket status and leave extra details</h3>
<p>
    Under “Services”, select “Service Board” 
</p>
<img src="~/Docs/Image9.png" class="img-responsive">
<br />

<p>
    Should you want to make any changes after the initial request is submitted, select “Edit” located on the left
</p>
<img src="~/Docs/Image10.png" class="img-responsive">
<br />

<p>
    Then select “Add Details”, then “Save” 
</p>
<img src="~/Docs/Image11.png" class="img-responsive">
<br />