@{
    ViewBag.Title = "Maintenance Calendar";
}


<h2>Maintenance Calendar</h2>

<iframe src="https://www.google.com/calendar/embed?showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=hukn4euq474ss0r6jha1uqftkc%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FLos_Angeles" style=" border:solid 1px #777 " width="800" height="600" frameborder="0" scrolling="no"></iframe>



