
@{
    ViewBag.Title = "New Client Calendar";
}

<h2>New Client Calendar</h2>

<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=rIOsConcepts@gmail.com&amp;color=%23182C57&amp;ctz=America/Los_Angeles" style=" border:solid 1px #777 " width="800" height="600" frameborder="0" scrolling="no"></iframe>